body {
  background: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: white;
  padding: 20px 30px;
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
  color: black;
}

.inputs input {
  width: 100px;
  padding: 8px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid wheat;
  text-align: center;
  justify-content: space-around;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 18px;
  border: 0;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  transition: background 0.3s;
  transition: all 500ms ease;
}

.buttons button:hover {
  cursor: pointer;
  background: greenyellow;
  transform: scale(1.1);
}

.result {
  margin-top: 15px;
  font-weight: bold;
  color: black;
}

.error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}
